body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #0A0318;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* border-bottom: 1px solid black; */
    background-color: #2B0E67;
    color: #fff;
}

.navbar h2 {
    margin-left: 30px;
    font-size: 1.8em;
    letter-spacing: .2rem;
}

.nav-list {
    display: flex;
    padding-right: 20px;
}

.nav-list li {
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.nav-list li.active {
    /* border-bottom: 7px solid #FF4162; */
    color: #FF4162;
}



.builderBody {
    height: 600px;
    /* max-width: 1800px; */
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #240C54;
    color: #fff;
}


.glassesSelect {
    display: flex;
    justify-content: center;
}

.glassesSelectOptions {
    display: flex;
    max-width: 300px;
    overflow-y:auto !important;
}

.glassesSelectOptions > div {
    cursor: pointer;
    width: 40px;
}

.hairsSelect {
    display: flex;
    justify-content: center;
}

.headsOptions {
    max-width: 400px;
    overflow-y:auto !important;
}

.hairImgFromMenu {
    margin-right: 20px;
    
    cursor: pointer;
}

.glassesImgFromMenu {
    height: 50px;
    margin-right: 20px;
    cursor: pointer;

}

.creating {
    background-color: #160A2F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.settings {
    margin-right: 50px;
    position: relative;

}

.hatColorSelector {
    display: none;
}


.bodyColorSelect {
    display: block;
}

.submitNBackground {
    position: absolute;
    bottom: 0;
}

.tabcontent {
    margin: 20px;
}

.submitNBackground {
    margin: 20px;
}

.submitButton {
    /* float: right; */
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    text-transform: lowercase;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
    background-color: #ff4162;
    margin-top: 40px;
    cursor: pointer;
}

/* 
@media(max-width:700px) {
    .builderBody {
        display: block;
    }
} */